@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 5rem
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff
}

/* set background */
.app:before {
  content: '';
  background: url('../public/background.jpg') no-repeat center center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}

.search {
  text-align: center;
  padding: 1rem;
  position: relative;
  top: 2%;
}

.search input {
  padding: 0.8rem 1.5rem;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.2);
  color: #f8f8f8;
  box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
}

.search select {
  text-align: center;
  padding: 0.5rem 0.7rem;
  margin: 0.8rem;
  font-size: 1.3rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.2);
  color: #f8f8f8;
  box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
}

.search h2 {
  padding: 1rem 0 0;
  font-size: 1.3rem;
  /* font-weight: 600; */
  color: rgba(255, 255, 255, 0.8);
}

::placeholder {
  color: #f8f8f8
}

.container {
  max-width: 1000px;
  height: 550px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* add space between the child elements (top, bottom) */
}

.top {
  width: 100%;
  margin: 1rem, auto;
}

.location p {
  font-size: 1.5rem;
}

.description {
  width: 250px;
  position: relative;
  right: -70%;
  top: 0%;
  transform-origin: 0, 0;
  transform: rotate(270deg);
}

.description p {
  font-size: 1.8rem;
}

img {
  width: 190px;
  height: 190px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem, auto;
  padding: 1rem;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.3)
}

.copyright {
  width: 100%;
  font-size: 0.8rem;
  position: absolute;
  bottom: 5px;
  text-align: center;
  color: rgba(255, 255, 255, 0.558)
}

.bold {
  font-weight: 800;
}

/* From Animista */
.scale-up-center {
  -webkit-animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.rotate-90-right-ccw {
  -webkit-animation: rotate-90-right-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: rotate-90-right-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes rotate-90-right-ccw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }

  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

/* From Animista */


@media only screen and (max-width: 420px) {

  /* .app {
    height: 105vh;
  } */

  .container {
    height: 450px;
  }

  .search input {
    padding: 0.8rem .7rem;
  }

  .description {
    right: -20%;
    top: -25%;
    text-align: center;
  }

  .description p {
    font-size: 1.6rem;
  }

  img {
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 60px;
  }
}

/* @media only screen and (max-width: 700px) {
  .description {
    right: -75%;
    top: 50%;
  }

  .description p {
    font-size: 1.6rem;
  }
} */